.boton-eliminar {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  height: 20%;
}
h5, p {
  text-transform: none;
  display: block;
}
.delete-button {
  border: none;
}

.delete-button:hover {
  border: 1px solid #8a8787; /* Color del borde al pasar el puntero por encima */
}
.custom-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}